<!--<cronometro (avisar)="finalizo($event)" [tiempo]="3"></cronometro>-->
<!--<cronometro (avisar)="finalizo($event)" [tiempo]="6"></cronometro>-->
<!--<cronometro (avisar)="finalizo($event)" [tiempo]="2"></cronometro>-->
<!--<cronometro (avisar)="finalizo($event)" [tiempo]="4"></cronometro>-->


<!--<calculadora *ngFor="let operacion of this.operaciones"-->
<!--             [n1]="operacion.n1"-->
<!--             [n2]="operacion.n2"-->
<!--             [operator]="operacion.operator"></calculadora>-->


<!--<principal></principal>-->

<button class="btn btn-primary" (click)="opeModal()">Abrir modal</button>
