.dialog-header {
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}


.header-left {
  width: 50%;
  text-align: end;
}

.carousel-cell{
  padding: 0 13em;
}


button {
  text-align: end;
  background-color: #111111;
  color: #FFFFFF;
  border: none;
  width: 50%;
}
.images {
  display: flex;
  white-space: nowrap;
  overflow: auto;
  padding: 0;
  list-style-type: none;
}

button:focus{
  outline: none;
}
