<div class="center-container" style="flex-direction: column;
    display: flex;
    justify-content: space-between;
    height: 100%;">
  <div class="dialog-container dialog-header" mat-dialog-title>
    <div>
      Todos los videos
    </div>
    <div class="header-left">
      <button class="button-close" mat-dialog-close><mat-icon>close</mat-icon></button>
    </div>
  </div>
  <mat-dialog-content>
<!--    <carousel-->
<!--      (click)="change($event)"-->
<!--      [height]="500"-->
<!--      [counter]="true"-->
<!--      cellWidth="100%">-->
<!--      <div class="carousel-cell" *ngFor="let item of data" >-->
<!--          <video style="cursor: pointer;" id="{{'video' + item.id}}" (playing)="reproduciendo()" controls (blur)="pausar('video' + item.id)">-->
<!--            <source src="{{item.mp4}}" type="video/mp4">-->
<!--            <source src="{{item.ogg}}" type="video/ogg">-->
<!--            Your browser does not support the video tag.-->
<!--          </video>-->
<!--      </div>-->
<!--    </carousel>-->

    <mat-carousel #carousel color="primary" (change)="change($event)" [autoplay]="false" timings="650ms ease-in" [slideHeight]="'100%'" [proportion]="50" [hideArrows]="false">
      <mat-carousel-slide overlayColor="#ffffff" *ngFor="let item of data" >
        <video style="cursor: pointer;" width="100%" height="100%" id="{{'video' + item.id}}" (playing)="reproduciendo()" controls (blur)="pausar('video' + item.id)">
          <source src="{{item.mp4}}" type="video/mp4">
          <source src="{{item.ogg}}" type="video/ogg">
          Your browser does not support the video tag.
        </video>
      </mat-carousel-slide>
    </mat-carousel>
  </mat-dialog-content>
  <mat-dialog-actions>
    <ul id="images" class="images">
      <li *ngFor="let item of data"><img style="width: 270px" [src]="item.path"></li>
      <div *ngIf="data.length<-1 else sobreado"></div>
    </ul>
  </mat-dialog-actions>
</div>

<ng-template #sobreado>
  <span>Ahora en reproducción</span>
</ng-template>
